@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500;1,700&display=swap');

:root {
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #eff1f5;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
}

button {
  border: none;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: hsl(180, 66%, 49%);
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #9be3df;
}

// Navbar
.navbar {
  background-color: #fff;
}

.navbar__container {
  height: 100px;
  display: flex;
  align-items: center;
  column-gap: 2rem;
  position: relative;
}

.navbar__menu {
  display: flex;
  align-items: center;
  flex-grow: 1;
  column-gap: 1.5rem;
  justify-content: space-between;
}

.navbar__links {
  display: flex;
  column-gap: 1.5rem;
}

.navbar__link {
  font-size: 14px;
  font-weight: bold;
  color: var(--gray);
  transition: 0.3s;
}

.navbar__link:hover {
  color: #3e3e3e;
}

.navbar__right {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.navbar__button {
  font-size: 14px;
}

.navbar__button-login {
  background-color: #fff;
  color: var(--gray);
}

.navbar__button-login:hover {
  background-color: #fff;
  color: #3e3e3e;
}

.navbar__toggle {
  display: none;
  visibility: hidden;
  margin-left: auto;
}

.navbar__toggle-icon {
  height: 28px;
  width: 28px;
  cursor: pointer;
}

// Hero
.hero {
  background-color: #fff;
}

.hero__container {
  grid-template-columns: repeat(2, 1fr);
}

.hero__text {
  padding: 6rem 0 10rem;
}

.hero__title {
  font-size: 4rem;
  color: #232323;
  line-height: 1.25;
}

.hero__desc {
  color: var(--gray);
  margin-bottom: 2rem;
}

.hero__image {
  position: relative;
  margin-top: 2rem;
  height: max-content;
}

.hero__image img {
  position: absolute;
  left: 120px;
  width: 600px;
}

// Shorten
.shorten {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  box-sizing: border-box;
  background-color: var(--dark-violet);
  background-image: url('../public/bg-shorten-desktop.svg');
  background-size: cover;
  padding: 2.5rem 3rem;
  margin-top: -4rem;
  border-radius: 0.5rem;
}

.shorten__input {
  flex-grow: 1;
}

.shorten__input input {
  box-sizing: border-box;
  width: 100%;
  padding: 0 1rem;
  font-size: 1rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}

.shorten__input input.error {
  border: 3px solid var(--red);
}

.shorten__error {
  color: var(--red);
  font-style: italic;
  font-size: 14px;
}

.shorten__button {
  height: 3rem;
  width: 10rem;
  border-radius: 0.5rem;
}

.list {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  row-gap: 0.75rem;
}

.list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.list__item p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list__item-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.list__item-link {
  color: var(--cyan);
}

.list__item-button {
  font-size: 14px;
  border-radius: 0.25rem;
}

// Statistics
.statistics {
  margin-top: 6rem;
}

.statistics__title {
  text-align: center;
  color: #232323;
}

.statistics__desc {
  color: var(--gray);
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.statistics__data {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  padding: 6rem 0 12rem;
}

.statistics__item {
  position: relative;
  padding: 4rem 2rem 2rem;
  background-color: #fff;
  border-radius: 0.25rem;
}

.statistics__item:nth-child(2) {
  top: 2rem;
}

.statistics__item:nth-child(3) {
  top: 4rem;
}

.statistics__item:not(:last-child)::after {
  content: '';
  position: absolute;
  left: 100%;
  top: 8rem;
  background-color: var(--cyan);
  height: 8px;
  width: 2rem;
}

.statistics__icon {
  position: absolute;
  top: -35px;
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-violet);
  border-radius: 50px;
}

.statistics__icon img {
  width: 30px;
}

.statistics__item-title {
  font-size: 1.25rem;
  color: #232323;
  margin-bottom: 1rem;
}

.statistics__item-desc {
  color: var(--gray);
  font-size: 14px;
  line-height: 1.75;
}

.footer-banner {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  height: 250px;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-violet);
  background-image: url('../public/bg-boost-desktop.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-banner__title {
  color: #fff;
}

.footer {
  background-color: var(--very-dark-violet);
}

.footer__container {
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  padding: 4rem 0;
}

.footer__logo {
  filter: invert(1) brightness(120%);
}

.footer__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
}

.footer__title {
  color: #fff;
  margin-bottom: 1rem;
}

.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.footer__link {
  display: block;
  color: var(--gray);
  font-size: 14px;
}

.footer__social {
  display: flex;
  height: max-content;
  align-items: center;
  column-gap: 1rem;
}

@media screen and (max-width: 1150px) {
  .container {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .hero {
    overflow: hidden;
  }

  .hero__title {
    font-size: 3rem;
  }

  .hero__image img {
    left: 0;
    width: 500px;
  }

  .footer__container {
    grid-template-columns: max-content 1fr;
    column-gap: 8rem;
  }

  .footer__content {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem 0;
  }
}

@media screen and (max-width: 768px) {
  .navbar__menu {
    position: absolute;
    top: 100%;
    right: 0;
    transform: translateY(-400px);
    width: 100%;
    max-width: 250px;
    z-index: 20;
    background-color: var(--dark-violet);
    padding: 2rem 1rem 1rem;
    flex-direction: column;
    transition: 0.3s;
    border-radius: 0.75rem;
  }

  .show-mobile-menu {
    transform: translateY(0);
  }

  .navbar__links {
    width: 100%;
    flex-direction: column;
    row-gap: 0.75rem;
    text-align: center;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .navbar__link {
    color: rgba(255, 255, 255, 0.8);
  }

  .navbar__link:hover {
    color: #fff;
  }

  .navbar__right {
    width: 100%;
    flex-direction: column;
    padding-top: 1rem;
    row-gap: 0.5rem;
    align-items: stretch;
  }

  .navbar__button-login {
    background: transparent;
  }

  .navbar__toggle {
    display: inline-block;
    visibility: visible;
  }

  .hero__title {
    font-size: 2.5rem;
  }

  .hero__desc {
    font-size: 16px;
  }

  .list__item {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .list__item-right {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .statistics__data {
    column-gap: 1rem;
  }

  .statistics__item {
    padding: 3rem 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  .hero__container {
    grid-template-columns: 1fr;
  }

  .hero__text {
    order: 2;
    padding: 4rem 0 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__title,
  .hero__desc {
    text-align: center;
  }

  .hero__image {
    height: 300px;
    order: 1;
  }

  .hero__image img {
    height: 300px;
    width: auto;
  }

  .shorten {
    flex-direction: column;
    padding: 1rem;
  }

  .shorten__input,
  .shorten__button {
    width: 100%;
  }

  .shorten__input input {
    box-sizing: border-box;
    width: 100%;
  }

  .statistics__data {
    grid-template-columns: minmax(100px, 350px);
    justify-content: center;
    row-gap: 2rem;
  }

  .statistics__icon {
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .statistics__item-title,
  .statistics__item-desc {
    text-align: center;
  }

  .statistics__item:not(:last-child)::after {
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 2rem;
    width: 8px;
  }

  .footer__container {
    grid-template-columns: 1fr;
    row-gap: 2rem;
    justify-items: center;
  }

  .footer__content {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  .footer__title,
  .footer__link {
    text-align: center;
  }
}

@media screen and (max-width: 426px) {
  .list__item p,
  .list__item-link {
    font-size: 14px;
  }

  .list__item-button {
    padding: 0.25rem 0.5rem;
  }
}
